:root {
  --font: "Roboto", sans-serif;
  --color-dark: #2e2f42;
  --color-light: #ffffff;
  --color-alt: #f4f4fd;
  --color-accent: #4d5ae5;
  --color-active: #404bbf;
  --color-text-light: #e7e9fc;
  --color-text-dark: #434455;
  /* --color-text-modal: #8e8f99; */
  /* --color-bgd-hero: rgba(46, 47, 66, 0.7); */
  /* --color-bgd-modal: rgba(46, 47, 66, 0.4); */
  /* --color-bgd-valid: #31d0aa; */
  --font-heavy: 900;
  --font-black: 800;
  --font-bold: 700;
  --font-medium: 500;
  --font-regular: 400;
  --font-size-h1: 56px;
  --font-size-h2: 36px;
  --font-size-h3: 20px;
  --font-size-big: 18px;
  --font-size-normal: 16px;
  --font-size-small: 12px;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  background-color: var(--color-light);
  color: var(--color-text-dark);
  font-family: var(--font);
  font-size: var(--font-size-normal);
}
.logo {
  color: var(--color-accent);
  font-family: "Raleway", sans-serif;
  font-size: var(--font-size-big);
  font-weight: var(--font-black);
  letter-spacing: 0.03em;
  line-height: 1.33;
  text-transform: uppercase;
}
.logo-header {
  color: var(--color-dark);
}
.logo-footer {
  color: var(--color-alt);
}
.nav-link:is(:hover, :focus),
.address-link:is(:hover, :focus),
.work-subtitle:is(:hover, :focus),
.work-text:is(:hover, :focus) {
  color: var(--color-active);
}
.nav-link {
  color: var(--color-dark);
  font-weight: var(--font-medium);
}
.address-link,
.work-text {
  color: var(--color-text-dark);
  font-style: normal;
}
.hero,
.footer {
  background-color: var(--color-dark);
}
.hero-btn,
.work-btn {
  font-family: inherit;
  font-size: inherit;
}
/* .team-list {
  background-color: var(--color-light);
} */
.nav-link,
.address-link,
.skills-text,
.team-text,
.footer-text,
.work-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.address-link,
.skills-text,
.team-text,
.footer-text,
.work-text {
  font-weight: var(--font-regular);
}
.hero-title {
  font-size: var(--font-size-h1);
  line-height: 1.07;
}
.hero-title,
.doing-title,
.team-title {
  font-weight: var(--font-bold);
  letter-spacing: 0.02em;
  text-align: center;
}
.doing-title,
.team-title {
  color: var(--color-dark);
  font-size: var(--font-size-h2);
  line-height: 1.11;
  text-transform: capitalize;
}
.team {
  background-color: var(--color-alt);
}
.team-subtitle,
.team-text {
  text-align: center;
}
.footer-text {
  color: var(--color-text-light);
}
.hero-btn {
  background-color: var(--color-accent);
}
.hero-btn,
.work-btn {
  font-weight: var(--font-medium);
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
}
.work-btn {
  background-color: var(--color-alt);
  color: var(--color-accent);
}
.hero-btn,
.hero-title,
.work-btn:is(:hover, :focus) {
  color: var(--color-light);
}
.hero-btn:is(:hover, :focus),
.work-btn:is(:hover, :focus) {
  background-color: var(--color-active);
}
.skills-subtitle,
.team-subtitle,
.work-subtitle {
  color: var(--color-dark);
  font-size: var(--font-size-h3);
  font-weight: var(--font-medium);
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.container {
  width: 1158px;
  margin: 0 auto;
}
.section {
  padding: 0 15px;
}
.skills-subtitle,
.team-subtitle,
.work-subtitle {
  margin-bottom: 8px;
}
/*=============== HEADER ===============*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  border-bottom: 1px solid var(--color-text-light);
}
.nav-section {
  display: flex;
  gap: 76px;
}
.nav {
  display: flex;
  gap: 40px;
}
.address {
  display: flex;
  gap: 40px;
}
/*=============== HERO ===============*/
.hero {
  height: 600px;
  padding: 188px 314px;
}
.hero-btn {
  display: block;
  padding: 16px 32px;
  margin: 48px auto 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*=============== SKILLS ===============*/
.skills {
  height: 344px;
  padding: 120px 0;
}
.skills-list {
  display: flex;
  justify-content: space-between;
}
.skills-item {
  width: 264px;
}
/*=============== DOING ===============*/
.doing {
  height: 412px;
  margin-bottom: 120px;
}
.doing-list {
  display: flex;
  margin-top: 72px;
  justify-content: space-between;
}
/*=============== TEAM ===============*/
.team {
  height: 732px;
  padding: 120px 0;
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.team-item {
  width: 264px;
  height: 380px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-light);
}
.team-content {
  margin: 32px 16px;
}
/*=============== FOOTER ===============*/
.footer {
  height: 310px;
  display: flex;
  align-items: center;
  padding-right: 864px;
}
.footer-text {
  margin-top: 16px;
}
/****************** PORTFOLIO ******************/
.work {
  padding: 96px 0;
}
.work-list-btn {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 48px;
}
.work-btn {
  padding: 12px 24px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.work-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work-item {
  margin: 24px 0;
  /* padding: 24px 0; */
}
.work-content {
  padding: 32px 16px;
  border: 1px solid var(--color-text-light);
  border-top: 0;
}
